main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
main .about {
  background-image: url(../images/bannerabout.png);
  background-size: cover;
  text-align: end;
  color: rgb(252, 174, 71);
  padding: 130px 80px;
  width: 100%;
  height: 80vh;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .about h1 {
  color: orange;
}
main .info-about {
  width: 88%;
  color: #000000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .our-team {
  width: 25%;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .our-team img {
  width: 100%;
}
main .our-team .name-ceo {
  padding: 20px 0px;
}
main .our-mission {
  width: 88%;
  color: #000000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .our-mission .mission-vision-value {
  display: flex;
  gap: 50px;
}
main .our-mission .mission-vision-value .mission, main .our-mission .mission-vision-value .vision, main .our-mission .mission-vision-value .value {
  flex: 1;
  text-align: center;
}
main .our-mission .mission-vision-value .mission img, main .our-mission .mission-vision-value .vision img, main .our-mission .mission-vision-value .value img {
  width: 80px;
  height: 80px;
}
main .our-mission .mission-vision-value .mission h3, main .our-mission .mission-vision-value .vision h3, main .our-mission .mission-vision-value .value h3 {
  margin: 10px 0px;
  color: orange;
}
main .our-mission .mission-vision-value .mission p, main .our-mission .mission-vision-value .vision p, main .our-mission .mission-vision-value .value p {
  text-align: justify;
}
main .shop-picture {
  width: 88%;
  display: flex;
  gap: 30px;
}
main .shop-picture img {
  width: 600px;
  height: 450px;
  border-radius: 10px;
}
main .shop-picture .discrep-about-shop {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .shop-picture .discrep-about-shop h2 {
  color: orange;
  margin-bottom: 20px;
}
main .shop-picture .discrep-about-shop p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}

/* Large tablets */
/* Tablets */
/* Phones */
@media (max-width: 480px) {
  main .about {
    padding: 0px 0px;
    width: 100%;
    height: 30vh;
  }
  main .our-team {
    width: 55%;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .our-team img {
    width: 100%;
  }
  main .our-team .name-ceo {
    padding: 20px 0px;
  }
  main .our-mission {
    padding: 5px;
    width: 100%;
    gap: 15px;
  }
  main .our-mission .mission-vision-value {
    gap: 30px;
  }
  main .our-mission .mission-vision-value .mission img, main .our-mission .mission-vision-value .vision img, main .our-mission .mission-vision-value .value img {
    width: 80px;
    height: 80px;
  }
  main .our-mission .mission-vision-value .mission h3, main .our-mission .mission-vision-value .vision h3, main .our-mission .mission-vision-value .value h3 {
    font-size: 15px;
  }
  main .our-mission .mission-vision-value .mission p, main .our-mission .mission-vision-value .vision p, main .our-mission .mission-vision-value .value p {
    font-size: 10px;
  }
  main .shop-picture {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main .shop-picture img {
    width: 100%;
    height: 350px;
  }
  main .shop-picture .discrep-about-shop p {
    font-size: 14px;
  }
}/*# sourceMappingURL=about.css.map */