main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 150px;
}
main .contact {
  background-image: url(../images/banner-contact2.png);
  background-size: cover;
  text-align: end;
  color: rgb(64, 64, 64);
  padding: 130px 80px;
  width: 100%;
  height: 80vh;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .contact button {
  background: none;
  color: orange;
  padding: 8px 25px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid orange;
  cursor: pointer;
  transition: 0.3s;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.2s;
}
main .contact button:hover {
  background: orange;
  color: white;
}
main .our-support {
  width: 88%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
main .our-support .our-support-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .our-support .support1 {
  display: flex;
  gap: 15px;
  align-items: center;
}
main .our-support .support1 img {
  width: 60px;
  height: 60px;
}
main .our-support .support1 .text h3 {
  margin-bottom: 5px;
  color: orange;
}
main .our-support .support1 .text p {
  font-size: 14px;
  color: grey;
}
main .map {
  width: 100%;
}

.info-contact {
  background-color: #12143A;
  height: 80vh;
  padding: 35px 80px;
  display: flex;
  justify-content: space-between;
}

.phone-location-email-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info {
  width: 45%;
  color: #ffffff;
  font-size: 18px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-info .phone-locatio {
  display: flex;
  justify-content: space-between;
}
.contact-info .phone-locatio .location {
  width: 50%;
}
.contact-info .phone-locatio .location .social {
  display: flex;
  gap: 10px;
}
.contact-info .phone-locatio .location .social i {
  color: #c0c2f5;
  padding: 10px 0px;
}

.contact-form {
  width: 45%;
  height: 70vh;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(3, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.name label {
  font-weight: bold;
}
.name .user-info {
  display: flex;
  justify-content: space-between;
}
.name .user-info input {
  width: 48%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.mail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mail label {
  font-weight: bold;
}
.mail input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.phone {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.phone label {
  font-weight: bold;
}
.phone input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.message label {
  font-weight: bold;
}
.message textarea {
  height: 10vh;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.submit-btn {
  background-color: #12143A;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  width: 100px;
  margin-bottom: 200px;
}

.submit-btn:hover {
  background-color: #050b7c;
}

iframe {
  width: 100%;
  height: 70vh;
  border: none;
}

/* Large tablets */
@media (max-width: 1200px) {
  main .contact {
    padding: 90px 30px;
    width: 100%;
    height: 30vh;
    font-size: 20px;
  }
}
/* Tablets */
/* Phones */
@media (max-width: 480px) {
  main {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  main .contact {
    padding: 20px 40px;
    width: 100%;
    height: 20vh;
    font-size: 10px;
  }
  main .contact button {
    background: none;
    color: orange;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid orange;
    cursor: pointer;
    transition: 0.3s;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
  }
  main .contact button:hover {
    background: orange;
    color: white;
  }
  main .our-support {
    width: 100%;
  }
  main .our-support .title {
    padding: 0px 10px;
    text-align: justify;
  }
  main .our-support .our-support-info {
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  main .our-support .support1 {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  main .our-support .support1 .text h3 {
    font-size: 10px;
  }
  main .our-support .support1 .text p {
    font-size: 12px;
  }
  main .map {
    width: 100%;
  }
  .info-contact {
    height: 130vh;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    height: 70vh;
  }
  iframe {
    margin-bottom: 20px;
    width: 100%;
    height: 30vh;
    border: none;
  }
}/*# sourceMappingURL=contact.css.map */