* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  background: rgba(255, 255, 255, 0.6274509804);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(100px);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 80px;
}

nav ul {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

#shopping-cart {
  position: relative;
}

/* hiddent icon menu */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

ul a:hover {
  color: orange;
  transform: translateY(-3px);
}

#unique {
  color: orange;
}

ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: orange;
  transition: width 0.3s ease;
}

ul a:hover::after {
  width: 100%;
}

ul li a select {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
ul li a:hover select {
  color: orange;
}

i {
  color: white;
}

.search {
  display: flex;
  align-items: center;
}

.search-input input {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  padding: 5px 20px;
  outline: none;
}

.input-mail {
  padding: 6px 20px;
  border: none;
}

.fa-solid {
  position: relative;
  right: 40px;
  color: gray;
  cursor: pointer;
}

hr {
  margin-top: 50px;
}

/* login btn */
.login {
  display: flex;
  gap: 10px;
}
.login .languge select {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  font-size: 15px;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background: orange;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background: rgb(1, 184, 1);
  color: white;
}

.btn2:hover {
  background: rgb(20, 95, 245);
  color: white;
}

.floating-cart {
  background: #efeeee;
  border-radius: 20px;
  padding: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.floating-cart span {
  color: white;
  margin-left: 6px;
  background: #ff6b6b;
  padding: 2px 6px;
  border-radius: 20px;
}

/* footer */
footer .info-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 0;
  background-color: #1a1a1a;
  text-align: center;
}
footer .info-section .info-box {
  flex: 1;
  min-width: 200px;
  margin: 15px;
  padding: 10px;
}
footer .info-section .info-box i {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
footer .info-section .info-box h1 {
  color: white;
}
footer .info-section .info-box h3 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .info-section .info-box p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.6;
}
footer .info-section .card-logo {
  height: 25px;
  margin: 5px;
}
footer .info-section .paypal-logo {
  height: 30px;
  margin-top: 10px;
}
footer .info-section .trustpilot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .info-section .trust-logo {
  height: 70px;
}
footer .info-section .stars {
  color: #66cc33;
  font-size: 24px;
  margin: 5px 0;
}
footer .info-section .trustpilot a {
  color: #fff;
  text-decoration: underline;
}
footer .info-section .trustpilot a:hover {
  color: #66cc33;
}
footer .footer {
  background: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
}
footer .footer h3 {
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 0px 0px 5px 0px;
}
footer .footer ul li {
  list-style: none;
  margin-bottom: 6px;
}
footer .footer ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .footer .socials {
  display: flex;
  flex-direction: column;
}
footer .footer .socials a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
footer .footer .socials a i {
  color: black;
  margin-bottom: 6px;
}
footer .footer .socials a .fa-facebook-f {
  background: #2b5cfa;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
}
footer .footer .socials a .fa-twitter {
  background: #00acee;
  color: white;
  padding: 7px 7px;
  border-radius: 6px;
}
footer .footer .socials a .fa-instagram {
  background: #e13033;
  color: white;
  padding: 8px;
  border-radius: 6px;
}
footer .footer .socials a .fa-linkedin-in {
  background: #0e76a8;
  color: white;
  padding: 8px;
  border-radius: 6px;
}
footer .footer .socials a:hover {
  color: #f11616;
}
footer .footer .subscribe {
  display: flex;
  gap: 10px;
}
footer .footer .subscribe input {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid gray;
  outline: none;
}
footer .footer .subscribe #btn-subscribe {
  background: orange;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
footer .footer .subscribe #btn-subscribe:hover {
  background: none;
  color: orange;
  border: 2px solid orange;
}
footer #end-web {
  padding: 25px;
  background: orange;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

/* Large tablets */
@media (max-width: 1200px) {
  nav {
    background: rgba(255, 255, 255, 0.6274509804);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(100px);
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .search input {
    width: 150px;
  }
  nav .search .login .languge {
    display: none;
  }
  nav .search .login .btn {
    padding: 4px 8px;
  }
  footer .footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 40px 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
  }
  footer .footer h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 0px 0px 5px 0px;
  }
  footer .footer ul li {
    list-style: none;
    margin-bottom: 6px;
  }
  footer .footer ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  footer .footer .socials {
    display: flex;
    flex-direction: column;
  }
  footer .footer .socials a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }
  footer .footer .socials a i {
    color: black;
    margin-bottom: 6px;
  }
  footer .footer .socials a .fa-facebook-f {
    background: #2b5cfa;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
  }
  footer .footer .socials a .fa-twitter {
    background: #00acee;
    color: white;
    padding: 7px 7px;
    border-radius: 6px;
  }
  footer .footer .socials a .fa-instagram {
    background: #e13033;
    color: white;
    padding: 8px;
    border-radius: 6px;
  }
  footer .footer .socials a .fa-linkedin-in {
    background: #0e76a8;
    color: white;
    padding: 8px;
    border-radius: 6px;
  }
  footer .footer .socials a:hover {
    color: #f11616;
  }
  footer .footer .subscribe {
    display: flex;
    gap: 10px;
  }
  footer .footer .subscribe input {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
  }
  footer .footer .subscribe #btn-subscribe {
    background: orange;
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
  }
  footer .footer .subscribe #btn-subscribe:hover {
    background: none;
    color: orange;
    border: 2px solid orange;
  }
  footer #end-web {
    padding: 25px;
    background: orange;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
}
/* Tablets */
/* Phones */
@media (max-width: 480px) {
  .floating-cart {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }
  nav {
    background: rgba(255, 255, 255, 0.6274509804);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(100px);
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    margin-left: 20px;
    height: 50px;
  }
  nav .login .btn {
    display: none;
  }
  nav .search input {
    width: 150px;
  }
  ul {
    color: white;
    display: none;
    flex-direction: column;
    -webkit-backdrop-filter: saturate(160%) blur(2px);
            backdrop-filter: saturate(160%) blur(2px);
    background: linear-gradient(180deg, rgba(204, 204, 204, 0.578), rgba(138, 139, 141, 0.573));
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    position: absolute;
    top: 60px;
    right: 0px;
    width: 100px;
    padding: 0px;
    border-radius: 10px;
  }
  .languge {
    display: none;
  }
  .menu-toggle {
    color: #273444;
    display: block;
    margin-left: 60px;
  }
  footer {
    width: 100%;
    background: #090808;
  }
  footer .footer {
    width: 100%;
    padding: 20px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=navbar&footer.css.map */