*{
    margin: 0;
    padding: 0;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
    box-sizing: border-box;
}
body{
    background: #f8bbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr{
    margin-left: 350px;
    width: 50%;
}
/* navbar */
nav{
    background: #ffffffa0;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(100px);
    position:sticky;
    top:0;
    z-index:50;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
nav img{
    height: 80px;
    border-radius: 100px;
}
nav ul{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
    transition: color 0.3s ease, transform 0.3s ease;
}
/* hiddent icon menu */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
ul a:hover {
    color: #f11616;
    transform: translateY(-3px);
}
ul a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: #f70e0e;
    transition: width 0.3s ease;
}
ul a:hover::after {
    width: 100%;
}
i{
    color: white;
}
.search{
    display: flex;
    align-items: center;
}
.search-input input{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: 5px 20px;
    outline: none;
}
.input-mail {
    padding: 6px 20px;
    border: none;
}
.fa-solid {
    position: relative;
    right: 40px;
    color: gray;
}

hr{
    margin-top: 50px
}
/* login btn */
.login{
    display: flex;
    gap: 10px;
}
.btn{
    padding: 6px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn1{
    color: rgb(0, 148, 0);
    font-weight: bold;
}
.btn1:hover{
    background: rgb(0, 148, 0);
    color: white;
}
.btn2{
    color: rgb(8, 102, 210);
    font-weight: bold;
}
.btn2:hover{
    background: rgb(8, 102, 210);
    color: white;
}
.floating-cart{
    background: #ebe7e5;
    border-radius: 20px;
    padding: 6px;
    outline: none;
    border: none;
    cursor: pointer;
   
}
.floating-cart span{
    color: white;
    margin-left: 6px;
    background: #ff6b6b;
    padding: 2px 6px;
    border-radius: 20px;
}