main{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    .shop{
        background-image: url(../images/bannershop.png);
        background-size: cover;
        text-align: end;
        color: rgb(252, 174, 71);
        padding:130px 80px;
        width: 100%;
        height: 80vh;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1{
            color: orange;
        }
    }
}
#btn-buynow{
    background: orange;
    color: white;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
#btn-buynow:hover{
    background: none;
    color: orange;
    border: 2px solid orange;
}
.product{
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .choise-product{
        display: flex;
        gap: 20px;
        .btn-choise{
            background: none;
            color: black;
            padding: 8px 20px;
            font-weight: bold;
            border-radius: 20px;
            border: 2px solid gray;
            cursor: pointer;
            transition: 0.3s;
        }
        .btn-choise:hover{
            background: orange;
            color: white;
            border: none;
        }
    }
    h2{
        text-align: center;
    }
    hr{
        width: 80%;
        margin-left: 110px;
    }
    .product-for{
        display: flex;
        justify-content: center;
        gap: 20px;
        a{
            text-decoration: none;
            color: gray;
            font-size: 18px;
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
        }
        a:hover{
            border-bottom: 2px solid orange;
            color: black;
        }
    }
    .product-card{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        .card-top-pick{
            .star{
                margin-left: 40px;
                i{
                    color: orange;
                }
            }
            width: 250px;
            // padding:0px 15px;
            // width: 250px;
            // height: 350px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px lightgray;
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            &:hover{
                box-shadow: 0px 0px 5px rgb(221, 221, 221);
                transform: scale(1.05);
            }
            img{
                width: 90%;
                height: 200px;
            }
            .offer{
                display: flex;
                gap: 10px;
                p{
                    font-size: 14px;
                    color: gray;
                }
                span{
                    color: red;
                    font-weight: bold;
                }
            }
            padding: 10px;
            p{
                margin-bottom: 10px;
                color: gray;
                font-size: 14px;
            }
            #btn-buynow{
                width: 52%;
            }
        }
    }
}
